@charset "UTF-8";

// Fonts
@font-face {
  font-family: "scss-components";
  src:url("../fonts/scss-components.eot");
  src:url("../fonts/scss-components.eot?#iefix") format("embedded-opentype"),
    url("../fonts/scss-components.ttf") format("truetype"),
    url("../fonts/scss-components.svg#scss-components") format("svg"),
    url("../fonts/scss-components.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}