@charset "UTF-8";

// Presets
html {
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;

  font-size: 62.5%;
}
body {
  line-height: 1.5;
  font-family: $base-font-family;
  @include font-size($base-font-size);
}