@font-face {
  font-family: "scss-components";
  src: url("../fonts/scss-components.eot");
  src: url("../fonts/scss-components.eot#iefix") format("embedded-opentype"), url("../fonts/scss-components.ttf") format("ttf"), url("../fonts/scss-components.svg#scss-components") format("svg"), url("../fonts/scss-components.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "scss-components";
  content: attr(data-icon);
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none !important;
  speak: none;
  display: inline-block;
  text-decoration: none;
  width: 1em;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
}

[class^="icon--"]:before,
[class*=" icon--"]:before {
  font-family: "scss-components";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none !important;
  speak: none;
  display: inline-block;
  text-decoration: none;
  width: 1em;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
}

.icon--css:before {
  content: "a";
}

.icon--briefcase:before {
  content: "b";
}

.icon--apple:before {
  content: "c";
}

.icon--html:before {
  content: "d";
}

.icon--happy-smiley:before {
  content: "e";
}

.icon--home:before {
  content: "f";
}
