@charset "UTF-8";

// Breakpoints and Widths
$max-wrapper-width: 1200px;
$max-cols: 12;
$gutter-width: 2%;
$breakpoints: (
  'mobile-landscape' 480px,
  'smaller-tablet' 600px,
  'tablet' 768px,
  'tablet-landscape' 920px,
  'desktop' $max-wrapper-width
);